body{
    margin: 0;
    background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh; /* VH solved the background gradient not filling the page */
    overflow-y: hidden;
}

.night {
    height: 80vh;
    width: 70vw;
    margin: 5rem auto;
    border: 5px solid purple; 
    margin: 5rem auto;
    background: url(/images/assets/Img_1.png);
    background-size: cover;
    position: relative;
    box-shadow: 1px 2px 60px rgba(0, 0, 0, 0.4);
    overflow-x: hidden;
    
}

.surface {
    height: 140px;
    width: 500%;
    background: url(/images/assets/Img_02.png);
    display: block;
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-repeat: repeat-x; /* repeat-x repeats image horizontally */
}

.car {
    position: absolute; 
    bottom: 5.5%;  /* higher numbers brings the image higher & lower numbers bring the image lower */
    left: 24%; 
    
}

/* Animation */

@keyframes moveRight{
    100% {
        transform: translateX(-2950px); 
    }
}

@keyframes suspension{
    100%{
        transform: translateY(-1px); 
    }
    50%{
        transform: translateY(2px); 
    }
    0%{
        transform: translateY(-1px); 
    }
}

.moveRight{
    animation: moveRight 6s linear infinite;
}

.suspension{
    animation: suspension 1s linear infinite;
}